@charset "UTF-8";
body{
	background-color: rgba(258,258,258,.10);
	color: black;
	font-family: Arial;
	font-size: 20px;
}
p{
	text-align: justify;
	text-indent: 50px;
	padding: 10px;
	margin-left: 100px;
	margin-right: 100px;
}
footer.graficos{
	position: relative;
	box-shadow: 2px 2px 4px black;
	width: 39%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
footer#grafico1{
	position: absolute;
	box-shadow: 2px 2px 4px black;
	left: 710px;
}
footer#grafico2{
	position: absolute;
	box-shadow: 2px 2px 4px black;
	left: 120px;
}
h1{
	text-align: center;
}
h2{
	margin-left: 100px;
}	
div#divisao2{
	padding-top: 400px;
}
div#linhahorizontal_0{
	width: 1330px;
	border:1px solid black;
	opacity:0.4;
}
div.linhahorizontal_1{
	width: 1330px;
	border: 1px solid #000;
	opacity: 0.4;
}
div#tempodeleitura{
	margin-left: -60px;
	text-transform: uppercase;
	opacity: 0.8;
	font-size: small;
}
ol#referencias li{
	margin-left:100px;
}
h2#referenciastitulo{
	text-decoration:underline;
	cursor:help;
	font-family: 'Times New Roman', Times, serif;
}